
<h1 style="color:white;background-color:Red;">Hello, world!</h1>
<h2 style="color:gold;background-color:blue;">Welcome to My First Single-Page Application,E-News Library</h2>
<body>
  <ul style="color:white;">
    <li>Now-a-days we live in age of Information Communication and Technology .</li>
    <li> We can’t think a  single   moment  without  technology.  Frommorning  to  night,  we  need  help  of  the technology.</li>
    <li>This  is  the  revolutionary  time  of  computer  technology.  Most  of  the  works depends  on  web  application.</li>
    <li>For  this  reason,  anytime,  anywhere,  anyone  can  access  a website by internet at low cost and we can find our expectable and most update information from website.</li>
    <li>At present information is one the most valuable resource of the current world.</li>
    <li> We have developed our project so that we can aware the people.</li>
    <li>The objective of this project is to develop a web application for Online News Paper website that can aware the peopleThe objective of this project is to provide the daily news.</li>
    <li> The objective of this project is to provide the breaking news.</li>
    <li>It makes use of various technologies to get required crime oriented information more quickly, easily, colorfully and attractively.</li>
    <li>To do this for more widely coverage of distribution and faster dissemination of information in a more timely manner.</li>
    <li>Anytime, anywhere, anyone can know about the news or information by internet at low cost.</li>
    <li>Dynamically provides facility.To add any new information without any complexity.</li>
  </ul>


  <p style="color:green;font-size:xx-large;">Contact Developer</p>
  <ul style="color:white;">
    <li><a href='https://m.facebook.com/100014332472950/'>Facebook</a> </li>
    <li><a href='https://www.instagram.com/umerbhat283/'>Instagram</a></li>
    <li><a href='https://www.linkedin.com/in/umer-bhat-7b161a208'>LinkedIn</a></li>
    <li><a href='https://github.com/umerbhat283/umerbhat283'>GitHub</a></li>
  </ul>
</body>
  <footer style="align-self:center;background-color:purple;color:white;">
    
      <p style="text-align:center;">
        Author: Umer Bhat<br>
        <a href ="umerbhat283@gmail.com">Mail-To:Umer Bhat</a>
      </p>
      <p style="text-align:center;">COPYRIGHT © 2021 UMER BHAT</p>
    </footer>

